* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.App {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
}
.container-form {
  width: 40%;
  background-color: whitesmoke;
}
.container-table {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
}
.container-input {
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.btn-eliminar {
  background-color: white;
  border: 1px solid red;
  padding: 4px 8px;
  border-radius: 15px;
  transition-duration: 0.4s;
  width: 80px;
}
.btn-eliminar:hover {
  background-color: red;
  color: rgb(255, 237, 237);
}
.btn-agregar {
  height: 30px;
  width: 150px;
  border-radius: 20px;
  background-color: rgb(7, 241, 241);
  border: 2px solid rgb(7, 241, 241);
  cursor: pointer;
  transition-duration: 0.5s;
}
.btn-agregar:hover {
  background-color: white;
}
input {
  height: 30px;
  width: 80%;
  font-size: large;
  border: 2px solid rgb(3, 3, 3);
  background-color: white;
  color: black;
  transition-duration: 0.2s;
}
input:hover {
  border: 2px solid rgb(255, 204, 0);
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
th,
td {
  border-bottom: 2px solid #ddd;
  height: 40px;
  width: 20%;
  transition-duration: 0.4s;
}
td {
  text-align: center;
}
h2 {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
td:hover {
  border-bottom: 2px solid rgb(7, 241, 241);
}
